@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}
.header {
    margin: 0 auto;
    width: 35%;
}
.header__welcome{
    text-align: center;

}
.main{


}
.game__card{
    width: 35%;
    margin: 0 auto 50px;
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    background-color: black;
}
.game__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid white;
}
.game__description{
    padding: 15px;

}

